.circular_image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 10px;
}

.holing_profile {
  background-image: radial-gradient(#262626, #000000);
  justify-content: center;
  display: flex;
}

.name_tag {
  padding-left: 15px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  font-size: 20px;
}

.email_tag {
  padding-left: 15px;
  margin: 0px;
  font-weight: 200;
  font-style: italic;
}
